*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("./assets/abstract-dark-background-with-flowing-colouful-waves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    background: radial-gradient(circle, rgba(63,94,251,0.5) 4%, rgba(171,49,74,0.5) 80%);    
    text-align: center;
    font-size: 4rem;
    width: 100%;
    margin-top: 5rem;
    color:#64d86b; 
    box-shadow: 2px 1px 5px 8px hsla(124, 60%, 62%, 0.7);
}

#about, #good-luck {
    background: radial-gradient(circle, rgba(63,94,251,0.5) 4%, rgba(171,49,74,0.5) 80%);    
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 3rem;
    color:#64d86b;
    box-shadow: 2px 1px 5px 8px hsla(124, 60%, 62%, 0.7);
    border-radius: 20px;
}

#user-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
}

button {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    background-color: transparent;
    color:#64d86b;
    border: 1px solid #64d86b;
    box-shadow: 1px -1.5px 10px 2px hsla(124, 60%, 62%, 0.7);
    transition: all 0.2s ease-in-out;
}


button:hover {
    box-shadow: 1px -1.5px 25px 2px hsla(124, 60%, 62%, 0.7);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

#form-container {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 2px 1px 5px 8px hsla(124, 60%, 62%, 0.7);
    border-radius: 50px;
    background: radial-gradient(circle, rgba(63,94,251,0.5) 4%, rgba(171,49,74,0.5) 80%);
}

#form-intro {
    color: #64d86b;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem;
}

#odin-form {
    color: #64d86b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    font-size: 1.5rem;
}

label span {
    position: relative;
    top: -8px;
}

input:focus {
    border: 1px solid green;
    box-shadow: 1px -1.5px 10px 2px hsla(124, 100%, 63%, 0.7);
    outline: none;
}

input {
    padding: 10px;
    background-color: transparent;
    border-radius: 50px;
    width: 100%;
    min-width: 200px;
    max-width: 1000px;
    color: #64d86b;
    border-color: hsla(124, 60%, 62%, 0.7);
    box-shadow: 1px -1.5px 5px 2px hsla(124, 60%, 62%, 0.7);
}

input::placeholder {
    color: #64d86b;
    opacity: 0.5;
}

#left-form-col, #right-form-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

#btn-submit {
    width: 200px;
    align-self: center;
    margin: 1rem;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    text-align: center;
    background: radial-gradient(circle, rgba(63,94,251,0.2) 4%, rgba(171,49,74,0.2) 80%);
}

#bground-img-credits:visited {
    text-decoration: none;
    color: black;
}

#bground-img-credits {
    text-decoration: none;
}