*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("./assets/abstract-dark-background-with-flowing-colouful-waves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    background: radial-gradient(circle, rgba(63,94,251,0.5) 4%, rgba(171,49,74,0.5) 80%);    
    text-align: center;
    font-size: 4rem;
    width: 100%;
    margin-top: 5rem;
    color:#64d86b; 
}

#about {
    background: radial-gradient(circle, rgba(63,94,251,0.5) 4%, rgba(171,49,74,0.5) 80%);    
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 3rem;
    color:#64d86b;
}

#user-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
}

button {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    background-color: transparent;
    color:#64d86b;
    border: 1px solid #64d86b;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    background: radial-gradient(circle, rgba(63,94,251,0.5) 4%, rgba(171,49,74,0.5) 80%);
}

#bground-img-credits:visited {
    text-decoration: none;
    color: white;
}

#bground-img-credits {
    text-decoration: none;
}